{% extends 'base.html.twig' %}

{% block body %}
	<header class="bg-primary">
 	  <div class="mx-5">
	   <p class="text-white fw-bold fs-5 py-4 ml-5">Bonjour {{firstname|capitalize}}</p>
	   </div>
	</header>
{% endblock %}

