<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} AIA blog. All Rights Reserved.</p>
        <p>
            {# <a href="{{ path('privacy') }}" class="text-white">Privacy Policy</a> |
            <a href="{{ path('terms') }}" class="text-white">Terms of Service</a> #}
        </p>
    </div>
</footer>