{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des articles</h1>

{% if articles is empty %}
  <p class="alert alert-info">Aucun article n’a encore été publié.</p>
{% else %}
  <ul class="list-group">
    {% for article in articles %}
      <li class="list-group-item">
        <a href="{{ path('app_article', { slug: article.slug }) }}">
          {{ article.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}